<a href="https://colab.research.google.com/github/sipahisnm/burcusinem/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#first solution



fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
 i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [4]:
# secomd  solustion
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [19]:
#  zip()



a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [20]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)



print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [ ]:
Return Value from all()
all() method returns:

True - If all elements in an iterable are true
False - If any element in an iterable is false

In [5]:
l = [1, 3, 4, 5]
print(all(l))

True

In [6]:
l = [0, False]
print(all(l))

False

In [7]:
l = []
print(all(l))  #because emty iterable, not empty list

True

In [8]:
s = "This is good"
print(all(s))

True

In [9]:
s = {0: 'False', 1: 'False'}
print(all(s))

False

In [10]:
s = {}
print(all(s))

True

In [11]:
s = {'0': 'True'}
print(all(s))

True

In [33]:
abc_list=['a', 'b', 'c']
num_list=[1, 2, 3]
for char in abc_list:
   for num in num_list:
      print(char, num)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3